 .titre1{
   
    font-size: 50px;
 color:green
}
.titre2{
    padding: 0;
    font-size: 100px;
    color:red
}
span{
    color:brown
}
.span1{
    font-size: 20px;
 font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-weight:800
}
.span2{
    font-size: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-weight:800
   }


   .div1{
    width: 200px;
    height: 200px;
    background-color: indianred;
    margin-bottom: 10px

   }

   .div2{
    width: 200px;
    height: 200px;
    background-color: rgb(192, 13, 13);
    margin-bottom: 10px

   }

   .div3{
    width: 200px;
    height: 200px;
    background-color: rgba(1, 3, 92, 0.342);
    margin-bottom: 10px

   }
    .maman{
        display: flex;
        flex-direction: row;
    }
    
    .maman2{
        display: flex;
        flex-direction: column;
    }

    .maman2{
        display: flex;
        flex-direction: row-reverse;
    }
    